.paperStyle {
  position: sticky;
  width: 400px;
  height: 500px;
  padding: 20;
  margin: 7% auto;
}

.logoImage {
  width: 200px;
  margin-top: 15px;
}

/* 
body{ 
    background-color: #c1c7bf;
 }  */